NINJA_AUTH_PROFILE=reporting
NINJA_CLIENT_ID=REPLACE_WITH_REPORTING_CLIENT_ID
NINJA_CLIENT_SECRET=REPLACE_WITH_REPORTING_CLIENT_SECRET
NINJA_BASE_URL=https://us2.ninjarmm.com
NINJA_SCOPES=monitoring
NINJA_POLICY_PATH=C:\Mission-Control\config\policy.json
MCP_MODE=stdio
LOG_LEVEL=info
